# Python
__pycache__/
*.py[cod]
*.pyc
.venv/
venv/
*.egg-info/

# Development tools
.mypy_cache/
.pytest_cache/
.ruff_cache/
.vscode/settings.json

# Ansible
ansible/*.retry
.ansible/

# Secrets
secrets.yaml
