extends: default
ignore: |
  .git
  .venv

rules:
  document-start:
    level: error
    present: false
  line-length:
    allow-non-breakable-inline-mappings: true
    allow-non-breakable-words: true
    max: 100
  truthy: enable
